/devel/ide_project/mytechia_commons/build/
/devel/ide_project/mytechia_commons/dist/
/devel/ide_project/mytechia_commons_logger/nbproject/private/
/devel/ide_project/mytechia_commons_logger/build/
/.project
/devel/ide_project/mytechia_commons_maven/target/
/devel/ide_project/mytechia_commons_maven/target/
/devel/ide_project/mytechia_commons/bin/
