/devel/ide_project/mytechia_commons/build/
/devel/ide_project/mytechia_commons/dist/
/devel/ide_project/mytechia_commons_logger/nbproject/private/
/devel/ide_project/mytechia_commons_logger/build/
/.project
/devel/ide_project/mytechia_commons_maven/target/
/devel/ide_project/mytechia_commons_maven/target/
/devel/ide_project/mytechia_commons/bin/
/devel/ide_project/mytechia_commons_logger_netbeans/nbproject/private/
/devel/ide_project/mytechia_commons_logger_netbeans/dist/
/devel/ide_project/mytechia_commons_logger_netbeans/build/
/devel/ide_project/mytechia_commons_logger/target/
/devel/ide_project/mytechia_commons_netbeans/build/
/devel/ide_project/mytechia_commons_netbeans/dist/
devel/ide_project/mytechia_commons_logger_maven/target
.DS_Store
