/devel/ide_project/mytechia_commons/build/
/devel/ide_project/mytechia_commons/dist/
/devel/ide_project/mytechia_commons_logger/nbproject/private/
/devel/ide_project/mytechia_commons_logger/build/
/devel/ide_project/gii_commons_logger/nbproject/private/
/devel/ide_project/gii_commons/build/
/devel/ide_project/gii_commons/dist/
/devel/ide_project/gii_commons_logger/build/
/devel/ide_project/gii_commons_logger/dist/
/.project
/devel/ide_project/mytechia_commons_logger/dist/